.cell {
      height: 70px;
      width: 70px;
      position: absolute;
      box-sizing: border-box;
}

.pcell {
      height: 70px;
      width: 70px;
      position: absolute;
      box-sizing: border-box;
}

.button {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}

.button:active {
  top: 3px;
}

.text {
    position: absolute;
    font-size:25px;
    text-shadow: 1px 1px Green;
    font-weight: bold;
}
.topLabel {
    position: absolute;
    height:50px;
    font-size: 30px;
    vertical-align: middle;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top {
    position: relative;
    background-image: url("/img/background.png");
    margin: 0px 0px 0px 0px;
    border: solid black;
    border-width: 2px 2px 2px 2px;
    width: 982px;
    height: 70px;
}

.right {
    position: relative;
    background-image: url("/img/background.png");
    margin: 0px 0px 0px 0px;
    border: solid black;
    border-width: 0px 2px 2px 0px;
    width: 70px;
    height: 910px; /* = 14*70 */
}

.field {
    position: relative;
    margin: 0px 0px 0px 0px;
    width: 910px; /* 910 = 13 * 70 */
    height: 910px;
}

.panel {
    position: absolute;
    box-sizing: border-box;
    left: 990px;
    top: 0px;
    width: 420px; /* 420 = 6 * 70 */
    height: 910px;
}


.over {
    border: Purple solid 3px;
}

.fieldPirateSelected {
    border: Magenta solid;
}

.fieldSelected {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}
.frontSelected {
  cursor: move;
}
.frontSelectedWithGold {
  cursor: copy;
}

.frontSelectable {
  cursor: pointer;
}

.pover {
    border: Blue solid; /*Magenta solid;*/
}

.pselected {
    background-color: MediumOrchid
}